<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>TODOリスト</title>
  </head>
  <body>
    <h1>TODOリスト</h1>
    <form action="/create" method="post">
      <label for="title">タイトル:</label>
      <input type="text" id="title" name="title" required />
      <button type="submit">タスク登録</button>
    </form>
    <ul>
      <% tasks.forEach(task => { %>
      <li>
        <span id="task-<%= task.id %>"><%= task.title %></span>
        <a href="/edit/<%= task.id %>"> 編集 </a>
        <form action="/complete-task" method="post">
          <input type="hidden" name="taskId" value="<%= task.id %>" />
          <button type="submit">完了</button>
        </form>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
